
.breadcrumb {
    background-color: #f8f9fa;
    margin-bottom: 20px;
}
.noidungchuong {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}
.select-chapter {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.isDisabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.social-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #555;
    text-decoration: none;
}
.social-icon:hover {
    color: #007bff;
}
.form-group {
    margin-bottom: 20px;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infotruyen {
    list-style: none;
    padding: 0;
}

.infotruyen li {
    margin-bottom: 5px;
}

.infotruyen li strong {
    font-weight: bold;
}

.card {
    border: 1px solid black;
}

.card-img-top {
    border-bottom: 1px solid black;
    height: 300px;
    object-fit: cover;
}

.carousel-item-content {
    padding: 10px;
    border: 1px solid black;
}

.mucluctruyen li a {
    text-decoration: none;
    color: #007bff;
}

.mucluctruyen li a:hover {
    text-decoration: underline;
}
